.todo-form-container {
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.todo-form-container form input {
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 2px solid #38d08a;
  transition: all 0.5s ease-in-out;
  background-color: #ddd;
}
.todo-form-container .error {
  background: red;
  border: 2px solid red;
  transform: scale(0.9);
}
.todo-form-container form input:focus {
  background-color: aliceblue;
}
.todo-form-container .btn {
  padding: 10px;
  background-color: #38d08a;
  border: none;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
}
