h1 {
  color: aliceblue;
  background-image: linear-gradient(90deg, rgb(41, 121, 212), rgb(46, 69, 110));
  font-size: 32px;
  text-align: center;
  padding: 16px;
}
.header a {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 15px;
}
.header a:hover {
  background-color: lightblue;
}
.active {
  background-color: #38d08a;
}

button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: wheat;
}
